body, html {
    height:100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #f3f3f3;
    background-color: #161616;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.the-container {
  /*background-color: #252525;*/
}

.selector {
    margin-top: 1em;
    margin-bottom: 1em;
  background-color: #252525;
  padding: 1em;
  border-radius: .2em;
    box-shadow: .2em .4em .5em  rgba(0, 0, 0, .5);

}

.weapon-stats {
  background-color: #252525;
  margin-top: 1em;
    border-radius: .2em;
    box-shadow: .2em .4em .5em  rgba(0, 0, 0, .5);
    padding-top: 1em;
    padding-bottom: 1em;
}

.weaponStatLabel {
  text-align:right;
  font-family: monospace;
}

.weaponStatValue {
  text-align:left;
}

.attachment-pick {
  font-size: 8pt;
  text-align:left;
}

.recoilStats {
  font-size: 8pt;
}

.selector-header {
    /*text-align:center;*/
}

.selector-label {
    text-align:right;
}